:root {
    --lightHue: #F2D2A6;
    --midHue: #EF846C;
    --darkHue: #221B1C;
    --neutralHue: #5E5766;
    --accentHue: #B98389;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--darkHue);
    background-color: var(--accentHue);
}

/*HEADER & SUBHEADER CONTENT*/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--darkHue);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--lightHue);
    margin: 30px 0px 10px 30px;
    font-size: 50px;
}

nav {
    margin: 0;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}

nav ul li {
    margin: 0px 20px;
    padding: 5px 15px;
    font-size: 20px;
    
}

nav a {
    color: var(--midHue);
    text-decoration: none;
}

nav li:hover {
    background-color: var(--neutralHue);
}

.subheader {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    background-color: var(--midHue);
    /*background-image: url(/bg1.jpg);*/
}

.subheader h2 {
    margin-right: 50px;
}

h2 {
    color: var(--darkHue);
    margin: 15px 3px;
}

/*MAIN CONTENT*/
main {
    display: flex;
    flex-flow: column nowrap;
    margin: 50px 100px;
}

h3 {
    font-size: 35px;
    color: var(--darkHue);
}

#about,
#work,
#contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/*ABOUT ME*/

.section h3, p, img {
    padding: 15px;
}

.section p {
    text-align: justify;
}

#about p {
    max-width: 40%;
}

/*WORK/PROJECTS*/
.workFlexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project {
    margin: 20px;
}

/*CONTACT*/
#contact {

}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline;
    margin: 40px;
}

/*FOOTER*/
footer {

}