:root {
    --lightHue: #F2D2A6;
    --midHue: #EF846C;
    --darkHue: #221B1C;
    --neutralHue: #5E5766;
    --accentHue: #B98389;

}

body {
    margin: 0 auto;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--darkHue);
    background-color: var(--accentHue);
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    background: var(--darkHue);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--lightHue);
    margin: 30px;
    font-size: 50px;
}

nav {
    margin: 0;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    list-style: none;
}

nav ul li {
    margin: 20px;
    padding: 5px 15px;
    font-size: 20px;
}

nav a {
    color: var(--midHue);
    text-decoration: none;
}

nav li:hover {
    background-color: var(--neutralHue);
}

.subheader {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    background-color: var(--lightHue);
    /*background-image: url(/bg1.jpg);*/
}

.subheader h2 {
    
}

h2 {
    color: var(--darkHue);
    margin: 15px 3px;
}

main {
    margin: 50px 100px;
}

h3 {
    font-size: 35px;
    padding: 20px 30px;
    background-color: var(--midHue);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: var(--lightHue);
}

.section {
    background: var(--lightHue);
    border-radius: 30px;
    position: relative;
}

.section p, ul {
    text-align: justify;
    padding: 0px 40px 30px 40px;
}

.aboutMeFlexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.aboutMeFlexbox p {
    width: 50%;
}

.portraitDiv {
    width: 40%;
}

#work {
}

.workFlexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 0px 40px 30px 40px;
}

.project {
    width: 30%;
    height: 100px;
    background-color:var(--neutralHue);
    margin: 10px;
}

#contact {

}

footer {

}