:root {
    --lightHue: ;
    --midHue: ;
    --darkHue: ;
    --accentHue: ;

}

body {
    margin: 0 auto;
    padding: 0;
}

header {

}

nav {

}

main {

}

.aboutMe {

}

.work {

}

.contact {
    
}

footer {

}