body {
    background-color: turquoise;
    margin: 200px;
}
.work {
    display: flex;
    flex-flow: row nowrap;
}

#work h3 {

}

.workGallery {
    position: relative;
    border-left: 3px solid red;
    padding: 0px 20px;
}

.workGallery h4 {
    position: absolute;
    color: white;
    background-color: blue;
    padding: 0px 20px;
}

.workImages img {
    border: 3px solid red;
}

.workImages img:hover {
    opacity: 1.0;
}

#topImage img {
    width: 100%;
}

#etcCards h4 {
    align-self: center;
}

    #etcCards img {
    width: 32%;
}