:root {
    --lightHue: #e6e6ef;
    --midHue: #1b7daa;
    --darkHue: #084F59;
    --accentHue: #20AF96;
    ;
    --secondAccent: #F3BC1E;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", sans-serif; */
    /* color: var(--darkHue); */
    background-color: var(--lightHue);
    font-size: 15px;
    line-height: 20px;
    overflow-x: hidden;
}

/*HEADER & SUBHEADER CONTENT*/

h1 {
    color: var(--lightHue);
    margin: 10px 0px;
    padding: 5px 25px 5px 50px;
    font-size: 50px;
    font-family: "Arimo", sans-serif;
}


nav ul li {
    margin: 10px 20px;
    font-size: 20px;
    
}

/*SUBHEADER*/

.subheader {
    position: relative;
    background-color: var(--midHue);
    background-image: url("images/856.jpg");
    background-size: 100vw;
    height: 150px;
    margin: 0px;
}


/*MAIN CONTENT*/

.borderedFlex {
    border-right:2px solid #F3BC1E;

}

.h3 {
    width: 17rem;
    background-color: #F3BC1E;
    color: var(--darkHue);
}

/*ABOUT ME*/

#about-p {
    margin-left: 1rem;
}

.paragraphs {
    text-align: justify;
    width: 60%;
    margin-right: 50px;
    align-self: right;
}

.image {
    width: 100%;
}

/*WORK/PROJECTS*/
.work {
    display: flex;
    flex-flow: row nowrap;
    width: 80vw;
}

#workFlex {
    position: relative;
}

h4 {
    color: white;
    background-color: var(--secondAccent);
    padding: 10px 20px;
    font-size: 30px;
}


/*CONTACT*/
#contact h3 {
    margin-right: 10px;
}
    #contact ul {
    list-style: none;
}

#contact ul li {
    display: inline;
    margin: 40px;
}

/* FOOTER */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: var(--darkHue);
    margin: 0;
    padding: 80px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;;
}

/*TABLET MEDIA QUERY*/
@media screen and (max-width:992px) {
    nav {
        display: flex;
        flex-flow: column nowrap;
    }
    #h1-container {
        display: flex;
        justify-content: center;
    }
    ul {
        display: flex;
        flex-flow: row nowrap;
    }
    li {
        justify-content: center;
        align-items: center;
    }
    .col-3 {
        width: 100%;
    }
    .col-3 .h3 {
        margin-bottom: 1rem;
        background-color: #F3BC1E;
        width: 100%;
    }
    .borderedFlex {
        border: none;
    }
    #about-row {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    #about-p,
    #contact {
        margin-left: 0;
    }
    #image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    #work-container {
        margin-left: 0;
    }
}

/*PHONE MEDIA QUERY*/

@media screen and (max-width:768px) {
    h1 {
        font-size: 40px;
    }
    .navbar ul li {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        text-align: center;
        /* font-size: 10px; */
    }
    #last-two-projects {
        display: flex;
        flex-direction: column;
    }
    #media-fi-container {
        margin-bottom: 1rem;
    }
    #contact-ul {
        display: list-item;
        text-align: center;
        list-style: none;
    }
    #contact-ul li {
        padding: 0.5rem;
    }
}